*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section{
display: flex;
}
.main img{
  display: block;
  width: 500px;
  height: 300px;
  background-repeat: no-repeat;
  margin: 10px 0 0 40px;
}
.scend{
  background: rgb(151, 73, 73);
  padding: 40px 200px;
  margin: 0 10px;
}